table(width=max_w align="center" class="deviceWidth")&attributes(tableAtt)
  tr
    td(align="center" style="padding: 35px; background-color: #00afab;" bgcolor=pantone)
      table(align="center" width="100%")&attributes(tableAtt)
        tr
          td(align="center")
            img(src=img_path+"logo-allergan.png" width="218" height="48" style="display: block; border: 0px;")
        tr
          td(class="f_normal" align="center" style=`font-family: ${fallback}; font-size: 14px; line-height: 24px;
          padding: 5px 0 5px 0;`)
            p(class="f_bold" style="font-size: 14px; line-height: 18px; color: #FFFFFF; margin-bottom: 0;").
              #{footer.direction[0]}
        tr
          td(class="f_normal" align="center" style=`font-family: ${fallback}; font-size: 14px; line-height: 24px;
          padding: 0 0 5px 0;`)
            p(class="f_bold" style="font-size: 14px; line-height: 18px; color: #FFFFFF; margin: 0;").
              #{footer.direction[1]}
        tr
          td(class="f_normal" align="center" style=`font-family: ${fallback}; font-size: 14px; line-height: 24px;
          padding: 0 0 5px 0;`)
            p(class="f_bold" style="font-size: 14px; line-height: 18px; color: #FFFFFF; margin: 0;").
              #{footer.direction[2]}
        tr
          td(align="center" class="f_normal" style=`font-family: ${fallback}; font-size: 14px; line-height: 24px;`)
            p(class="f_normal" style="font-size: 14px; line-height: 20px; color: #FFFFFF; margin-bottom: 0").
              #{footer.copy[0]}
        tr
          td(align="center" class="f_normal" style=`font-family: ${fallback}; font-size: 14px; line-height: 24px;`)
            p(class="f_normal" style="font-size: 14px; line-height: 20px; color: #FFFFFF; margin: 0;").
              #{footer.copy[1]}
        tr
          td(align="center" class="f_normal" style=`font-family: ${fallback}; font-size: 14px; line-height: 24px;`)
            p(class="f_normal" style="font-size: 14px; line-height: 20px; color: #FFFFFF; margin: 0;").
              #{footer.copy[2]}
        tr
          td(align="center" class="f_normal" style=`font-family: ${fallback}; font-size: 14px; line-height: 24px;`)
            p(class="f_normal" style="font-size: 14px; line-height: 20px; color: #FFFFFF; margin: 0;").
              #{footer.copy[3]}
        tr
          td(align="center" class="f_normal" style=`font-family: ${fallback}; font-size: 14px; line-height: 24px;`)
            p(class="f_normal" style="font-size: 14px; line-height: 20px; color: #FFFFFF; margin: 0").
              #{footer.copy[4]}
        tr
          td(align="center" class="f_normal" style=`font-family: ${fallback}; font-size: 14px; line-height: 24px;`)
            p(class="f_normal" style="font-size: 14px; line-height: 20px; color: #FFFFFF; margin-top: 0").
              #{footer.copy[5]}

